<div id="cartelera">
  <h1 class="pb-3">Cartelera</h1>
  <div class="movie-container">
    <mat-card class="example-card m-5" *ngFor="let movie of moviesAPI"  style="width: 18rem;">
      <mat-card-header>
        <h3 class="card-title">{{movie.title}}</h3>
      </mat-card-header>
      <img mat-card-image [src]= "urlPath+movie.poster_path" alt="" style="height: 400px;">
      <mat-card-actions>
        <button  mat-raised-button color="primary" (click)="navigateToDetail(movie.id)">+ Info</button>
      </mat-card-actions>
    </mat-card>
  </div>
